@media screen and (max-width: 600px) {
  #section1 {
    margin-top: 0;
    padding-top: 0;
    height: 450px;
  }

  .btn-2 {
    border-radius: 0;
    border: none;
  }

  #section6 {
    .col-md-10 {
      max-width: 100%;
    }
   .nav-tabs:before {
      margin-left: 102px;
    }
    .tab-content {
      margin-left: 0;
    }
    .overflow-hidden {
      padding-bottom: 40px;
    }
  }

  #section7 {
    background-size: 95.7% 300px;

    .box-txt {
      padding-top: 45px;
    }
  }

  #section8 {
    background-position: center;
    background-size: 90.7% 100%;

    h1 {
      margin: 35px 10px 20px 30px
    }

    .count-top10 {
      margin-top: 00px;
      margin-left: 30px;
    }

    // .bg1 {
    //   background-size: cover;
    //   padding-top: 40px;
    //   border-radius: 10px;
    //   width: 92%;
    //   left: 50%;
    //   margin-left: -166px;
    //   background-image: url(../images/bgSection8mb.png);

    //   .count-top10 {
    //     margin-top: 30px;
    //   }
    // }

    // .bg2 {
    //   top: 518px;
    //   height: 280px;
    //   background-size: cover;
     
    // }

    .carousel-control-prev {
      left: 6px;
    }

    .mask-speaker10 {
      margin-top: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      overflow: inherit;
    }


    #carosel1 {

      .carousel-indicators {
        bottom: 408px;
      }

      .carosel-body {
        margin-top: 284px;

      p {
          margin-bottom: 75px;
      }

        h1 {
          display: table-cell;
        }
      }

      .name {
        left: 50%;
        bottom: 10px;
        margin-left: -55px;
      }
      .carousel-control-prev, 
      .carousel-control-next {
        top: 500px;
      }

      .carousel-control-prev {
        left: 20px;
      }
      .carousel-control-next {
        right: 20px;
        img {
          transform: scaleX(-1);
        }
      }
    }
  }

  #section8b {
    margin-top: 525px;
}

  #section9 {
    padding-top: 50px;
    .single-ticket {
      position: relative;
      padding-bottom: 0;
    }

    .btn-4 {
      background: linear-gradient(-90deg,#a900d1 0,#6300d6 100%);
      border:none;
      border-radius: 0;
      margin-top: 45px;
      color: #fff;

      i {
        color: #fff;
      }
    }
  }

  #section10 {
    .wrap {
      padding-top: 30px;
    }

    .container {
      padding-right: 0px;
      padding-left: 0px;
    }
    h2 {
      margin-bottom: 30px;
      padding-right: 15px;
    }

    .col-md-10 {
      max-width: 100%;
    }

    .carousel-control-next {
      left: auto;
    }

    .carousel-control-prev {
      left: -53px;
      width: 100%;
      bottom: 0;
      img {
        transform: scaleX(-1);
      }
    }

    #carousel2 {
      margin-bottom: 50px;
    }
  }

  main {
    margin-bottom: 1086px;
    top: 460px;
  }

  #footer {
    padding-top: 60px;
    min-height: 610px;
    background: url(../images/bgRodapeMb.png) bottom center no-repeat;
    background-size: contain;
  }

  .modal .modal-body {
    padding: 3rem 0.8rem;
  }

  .btn-6 {
    margin-top: 50px;
    border-radius: 8px;
  }
  

}

@media (max-width: 375px) {
  main {
    margin-bottom: 760px;
  }
  #section10 {
    // .carousel-control-next {
    //   margin-left: 140px;
    // }
  }
  
}

@media (max-width: 360px) {

  #section3 {
    h2 {
      font-size: 26px;
      padding-right: 50px;
    }
  }
  main {
    margin-bottom: 806px;
  }

  #section8 {
    .bg1 {
      width: 90.7%;
      margin-left: -145px;

      .count-top10 {
        margin-top: 30px;
      }
    }
  }
}
@media (max-width: 320px) {

  #section10 {
    // .carousel-control-next {
    //   margin-left: 100px;
    // }
  }
}