<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2><span>Compartilhe</span> e contribua com o crescimento de outros empreendedores!</h2>

      <div class="social">
        <a href="http://facebook.com" target="_blank" class="d-inline-block">
          <i class="fab fa-facebook-square d-inline-block"></i>
        </a>
        <a href="http://instagram.com" target="_blank" class="d-inline-block">
          <i class="fab fa-instagram d-inline-block"></i>
        </a>
        <a href="http://twitter.com" target="_blank" class="d-inline-block">
          <i class="fab fa-twitter d-inline-block"></i>
        </a>
        <a href="http://youtube.com" target="_blank" class="d-inline-block">
          <i class="fab fa-youtube d-inline-block"></i>
        </a>
        
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <img src="assets/images/logoForum.png" alt="" class="align-self-baseline">
    </div>
  </div>

  <div class="row institutional">
    <div class="col-md-6">
      © 2020. Fórum Negócios Experience. Todos os direitos reservados.
    </div>
    <div class="col-md-6 d-flex justify-content-end">
       <a href="http://mobister.com.br" target="_blank">
        Mobister
      </a>
    </div>
  </div>
</div>