<!-- Modal -->
<div
  class="modal fade"
  id="subscription"
  tabindex="-1"
  role="dialog"
  aria-labelledby="subscriptionLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <header>
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/logoModal.png" alt="" class="img-fluid" />
              </div>
              <div class="col-md-8 ml-auto">
                <h1>Entre para o time Fórum<br/> Negócios Experience!</h1>
              </div>
            </div>
  
          </header>
          <section class="modal-section">
            <div class="row">
              <div class="col-md-12">
                <div class="form-subscription">
                  <form
                    id="subscription-form"
                    class="col-lg-12"
                    action="#"
                    method="post"
                  >
                    <div style="clear: both;"></div>
  
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="group">
                          <input type="text" autocomplete="off" required="" />
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Seu nome </label>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="group">
                          <input type="text" autocomplete="off" required="" />
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label
                            ><span class="span-input"
                              >E-mail corporativo</span
                            ></label
                          >
                        </div>
                      </div>
                    </div>
                    <!-- fim row -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" autocomplete="off" required="" />
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Telefone</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" autocomplete="off" required="" />
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Empresa</label>
                        </div>
                      </div>
                    </div>
                    <!-- fim row -->
  
                    <div class="row">
                      <div class="col-md-6">
                        <select data-selected="">
                          <option value="" selected="selected" disabled="disabled">Qual seu perfil?</option>
                          <option value="1">Ocean Wall</option>
                          <option value="2">Skate Park</option>
                          <option value="3">Mountain View</option>
                          <option value="4">Cityscape</option>
                          <option value="5">Workshop</option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <select data-selected="">
                          <option value="" selected="selected" disabled="disabled">Cargo</option>
                          <option value="1">Ocean Wall</option>
                          <option value="2">Skate Park</option>
                          <option value="3">Mountain View</option>
                          <option value="4">Cityscape</option>
                          <option value="5">Workshop</option>
                        </select>
                      </div>
                    </div>
                    <!-- fim row -->
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="modal-footer">
          <footer>
            <div class="row">
              <div class="col-md-6">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">
                    Li e aceito os <a href="#" class="terms">Termos de Uso.</a>
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <button
                  type="button"
                  class="btn btn-6 float-righ col-md-12"
                  data-dismiss="modal"
                >
                  Enviar dados <i class="fas fa-arrow-right"></i>
                </button>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
