<!-- Modal -->
<div
  class="modal fade"
  id="patrocinador"
  tabindex="-1"
  role="dialog"
  aria-labelledby="patrocinadorLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <header>
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/logoModal.png" alt="" class="img-fluid" />
              </div>
              <div class="col-md-8 ml-auto">
                <h1>Entre para o time Fórum<br/> Negócios Experience!</h1>
              </div>
            </div>
  
          </header>
          <section class="modal-section">
            <div class="row">
              <div class="col-md-12">
                <div class="form-sponsor">
                  <form
                    id="registration-form"
                    class="col-lg-12"
                    action="#"
                    method="post"
                  >
                    <div style="clear: both;"></div>
  
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="group">
                          <input type="text" autocomplete="off" required="" />
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Seu nome </label>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="group">
                          <input type="text" autocomplete="off" required="" />
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label
                            ><span class="span-input"
                              >E-mail corporativo</span
                            ></label
                          >
                        </div>
                      </div>
                    </div>
                    <!-- fim row -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" autocomplete="off" required="" />
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Telefone</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="group">
                          <input type="text" autocomplete="off" required="" />
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Empresa</label>
                        </div>
                      </div>
                    </div>
                    <!-- fim row -->
  
                    <div class="row">
                      <div class="col-md-12">
                        <div class="group">
                          <textarea
                            type="text"
                            autocomplete="off"
                            required=""
                            rows="4"
                          ></textarea>
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label><span class="span-input">Mensagem</span></label>
                        </div>
                      </div>
                    </div>
                    <!-- fim row -->
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="modal-footer">
          <footer>
            <div class="row">
              <div class="col-md-5">
                <p>Envie seus dados e entraremos em contato para maiores detalhes
                  sobre como patrocinar.</p>
              </div>
              <div class="col-md-6 ml-auto">
                <button
                  type="button"
                  class="btn btn-5 float-righ col-md-12"
                  data-dismiss="modal"
                >
                  Enviar dados <i class="fas fa-arrow-right"></i>
                </button>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
