<!-- nav mobile -->
<nav class="nav-mb d-block d-sm-none">
  <div class="logo-menu">
    <img src="assets/images/logoForum.png" class="logo" alt="" />
    <div id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="menu-mobile">
    <div id="bg-menu-mobile">
      <img src="assets/images/logoForum2.png" class="logoForum2" alt="" />
      <ul>
        <li>
          <a href="#section7">Palestrantes</a>
        </li>
        <li>
          <a  href="#"
          data-toggle="modal"
          data-target="#patrocinador"
          class="d-inline-block"
          >Seja um patrocinador</a>
        </li>
      </ul>

      <div
        class="whatsapp-bottom position-absolute w-100 d-flex justify-content-between align-items-center"
      >
      <a
        href="https://api.whatsapp.com/send?phone=51955081075&text=Olá%21%20Tudo%20bem?"
        
        target="_blank"
      >
        Contato pelo WhatsApp
        
      </a>
      <img src="assets/images/icon-whatsapp.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</nav>
