.btn-3 {
  background-color: $preto;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 16px 40px;
  color: $branco;
  font-size: 22px;
  
  i {
    color: $roxo;
    margin-left: 6px;
  }
}