.btn-1 {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 22px;
  transition: all 0.2s ease-in-out;
  i {
    margin-left: 14px;
    color: $roxoEscuro;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    background-color: $roxoHover;
    color: white;

    i {
      padding-left: 9px;
      color: $roxo;
    }
  }
}

.btn-2 {
  @extend .btn-1;
  background: linear-gradient(90deg, #6300d6 0%, #a900d1 100%); 
  border-color: #6300d6;
  color: white;

  i, ion-icon {
    transition: all 0.2s ease-in-out;
    color: white;
  }


  &:hover {
    background: black !important;
    color: white;
    border-color: #9300FF;


    ion-icon {
      padding-left: 9px;
      color: #9300FF;
    }
  }

}

.btn-3 {
  background-color: $preto;
  border-top-right-radius: 8px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 0px !important;
  padding: 16px 40px;
  color: $branco !important;
  font-size: 22px;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  width: 195px;
  
  i , ion-icon {
    transition: all 0.2s ease-in-out;
    color: $roxoEscuro;
    margin-left: 6px;
  }

  &:hover {
    background-color: $roxoHover;
    color: white;

    i , ion-icon {
      padding-left: 9px;
      color: $roxo;
    }
    
  }
}

.btn-4 {
  @extend .btn-1;
  color: $roxoEscuro;

  ion-icon {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    background: linear-gradient(90deg, #6300d6 0%, #a900d1 100%) !important; 
    color: white;
    ion-icon {
      padding-left: 9px;
      color: white;
    }
  }
}


.btn-vaga {
  color: white;
  border-radius: 8px;
  box-shadow: 0px 10px 50px rgba(115, 0, 199, 0.25);
  transition: all 0.2s ease-in-out;
  width: inherit;
  border: 2px solid #320553;

  svg {
    visibility: hidden;
    margin-left: -60px;
    margin-right: 35px;
  }

  #Caminho_39 {
    transition: all 0.1s ease-in;
  }

  #Caminho_40 {
    transition: all 1.5s ease-in-out;
  }


  &:hover {
    color: white;
    border-radius: 8px;
    background: $gradiente;
    padding-left: 20px;
    border:none;

    svg {
      visibility: visible;
    }

    #Caminho_39 {
      fill: white;
      transition: all 0.3s ease-out;
    }

    #Caminho_40 {
      stroke:#7300c7;
      transition: all 0.3s ease-out;
    }
  }
}

.btn-5 {
  @extend .btn-1;
  background: black;
  border:none;
  padding:20px 30px;
  color: white;
  i {
    color: white;
  }
}

.btn-6 {
  @extend .btn-2;
  border:none;
  padding:20px 30px;
  color: white;
  i {
    color: white;
  }
  
  &:hover {
    background: linear-gradient(90deg, #6300d6 0%, #a900d1 100%) !important; 

    i {
      color: white;
    }
  }
}