#footer {
  height: 680px;
  background:$preto url(../images/bgFooter.jpg) bottom right no-repeat;
  padding-top: 115px;


  h2 {
    color: $branco;
    font-weight: bold;

    span {
      background: linear-gradient(-90deg, #a900d1 0%, #6300d6 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .social {
    margin-top: 70px;
    a {

      i {
        font-size: 28px;
      }

      &:first-child {
        color: #6800d5;
      }
      &:nth-child(2) {
        color: #7c00d5;
      }
      &:nth-child(3) {
        background: linear-gradient(90deg, #8a00d4 0%, #8f00d3 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:last-child {
        background: linear-gradient(90deg, #9d00d2 0%, #a400d1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:not(:last-child) i {
        margin-right: 60px;
      }
    }
  }

  .institutional {
    color: $cinza;
    margin-top: 240px;
    margin-bottom: 20px;

    a {
      color: $roxo;

      &:hover {
        color: $branco;
      }
    }
  }
}
