
$font1: "Helvetica Neue";
$branco: #fff;
$roxo:#A76AED;
$roxoEscuro: #7300C7;
$roxoHover: #320553;
$cinza:#6F6F6F;
$preto:#000000;
$gradiente: linear-gradient(-90deg, #a900d1 0%, #6300d6 100%);

$fonte-pequena: 20px;
$fonte-media: 40px;
$fonte-grande: 60px;

