
.visible > div {
  background-color: #778beb;
}

#section1 {
  padding-top: 65px;
  background: url(../images/bgSection1.jpg) center no-repeat;
  background-size: cover;
  height: 740px;
  position: fixed;
  z-index: 1;
  width: 100%;

  .hover-btn {
    background: url(../images/seta.png) no-repeat;
    background-position: 0 -65px;
    margin-top: 50px;
    width: 24px;
    height: 40px;
    transition: all 0.22s ease-in-out;
    

    &:hover {
      background: url(../images/seta.png) no-repeat;
      background-position: 0 -15px;
    }
  }

  .nav {
    margin-right: -29px;
    a {
      color: white;
      white-space: nowrap;
      font-weight: bold;
      letter-spacing: 0.15px;
      padding: 15px 25px;
      border-radius: 8px;

      &:hover {
        background: linear-gradient(-90deg, rgba(169, 0, 209,0.5) 0%, rgba(99, 0, 214,0.5) 100%);
      }
      &:not(:last-child) {
        margin-right: 90px;
      }
    }
  }

  .txt1 {
    color: $roxo;
    font-size: $fonte-pequena;
    margin-top: 110px;
  }

  .arrow {
    margin-bottom: 70px;
  }

  h1 {
    margin-top: 45px;
  }
}

#section2 {
  background: url(../images/bgSection2.jpg) no-repeat;
  background-size: cover;
  background-color: $preto;

  .aux-row {
    padding-top: 255px;
    padding-bottom: 185px;
  }

  .text-white {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 14px;
    span {
      font-weight: normal;
      color: #c1c1c1;
    }
  }

  .btn {
    margin-top: 60px;
  }

  .tab-custom1 {
    height: 130px;
    background: #000;
    font-size: $fonte-pequena;
    border: 2px solid #320553;
    &:not(:last-child) {
      border-right-width: 0;
    }

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-radius: 8px;
      height: 150px;
      margin-top: -10px;
      width: 390px;
      box-shadow: 0px 8px 40px rgba(115, 0, 199, 0.5);
    }
  }
}

.bg {
  background: $gradiente;
  z-index: 1;
  height: 470px;
  width: 78vw;
}

.box-txt {
  padding-top: 100px;
  z-index: 2;
  height: 470px;
  width: 100%;
}

#section3 {
  background: url(../images/bg-palestrantes.png) no-repeat top left;
  background-size: 79.2%;

  .box-txt {
    margin-bottom: 80px;
    height: auto;
  }
  h2 {
    font-size: $fonte-media;
    color: white;
    font-style: normal;
    font-weight: bold;
  }

  .embed-responsive {
    padding-top: 0;
    margin-top: 0;
    border-radius: 8px 0px 8px 8px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
  }
}

#section5 {
  background: #000 url(../images/bgSection5.png) center right no-repeat;
  padding-top: 250px;
  padding-bottom: 220px;
  margin-top: -80px;
  // border-bottom: 1px solid #707070;

  .text-white {
    font-size: $fonte-pequena;
    line-height: 40px;
    margin-top: 14px;
    font-weight: bold;
    span {
      font-weight: normal;
      color: #c1c1c1;
    }
  }

  .btn {
    margin-top: 26px;
  }
}

#section6 {
  display: flex;
  flex-wrap: wrap;

  .space-void {
    flex: 0.5;
  }

  .aux {
    flex: 2;
  }

  .nav-tabs {
    border-bottom: 0;
    border-top: 1px solid $roxoEscuro;
    border-top-left-radius: 15px;

    .nav-item {
      .nav-link {
        padding-top: 45px;
        padding-bottom: 0;
        padding-left: 30px;
        padding-right: 100px;
        border-bottom: none;
        color: #A76AED;

        &.active {
          background-color: transparent !important;
          color: white !important;
          border-color: $roxoEscuro;
        }
      }

      &:first-child {
        .nav-link {
          border-top-left-radius: 15px;
          border-right: 0;
          border-left: 1px solid #7300C7;

          &:focus {
            border-color: #7300C7;
          }

          &:hover {
            border-top-color: transparent;
          }

          &:active {
            border-top-left-radius: 15px;
            border-top-color: transparent;
            border-right: 0;
            border-top: 0 !important;
            border-left: 1px solid #7300C7;
          }
        }
      }

      &:not(:first-child) {
        .nav-link {
          border-top: none;
          border-right: none;
          border-left-color: #a76aed;
          border-top-left-radius: 0px;

          &:focus {
            border-radius: 0 !important;
          }

          &:active {
            border-top-left-radius: 15px;
            border-left: 1px solid #a76aed !important;
          }
        }
      }
    }
    // fim .nav-item
  }

  .tab-content {
    padding-top: 140px;

    .content {
      &:not(:last-child){
        margin-right: 106px;
      }
    }

    p {
      color: $roxo;
    }
  }
}

#section7 {
  margin-top: 170px;
  margin-bottom: 80px;
  background: url(../images/bg-palestrantes.png) no-repeat top left;

  .box-txt {
    height: auto;
  }

  .top-speakers {
    h1 {
      color: $branco;
      margin-bottom: 90px;
    }

    .speaker {
      max-width: 370px;
      margin-bottom: 110px;
      figure {
        border-radius: 10px;
        display: table;
        overflow: hidden;
      }
      p {
        max-width: 83%;
        color: #6f6f6f;
        letter-spacing: 0.15px;
      }

      h3 {
        font-size: $fonte-media;
        color: $branco;
        margin-top: 35px;
        margin-bottom: 17px;
      }

      .office {
        color: $roxo;
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }
  //fim top speakers

  .others-speakers {
    margin-top: 110px;
    .speaker {
      max-width: 370px;
      margin-bottom: 85px;
      figure {
        border-radius: 10px;
        display: table;
        overflow: hidden;
      }

      h3 {
        font-size: 28px;
        color: $branco;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .office {
        max-width: 100%;
        color: $roxo;
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
  }
}
// fim section7

#section8 {
  height: 1135px;
  position: relative;

  .count-top10 {
    span {
      color: white;
    }
  }

  .mask-speaker10 {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }

  .bg1 {
    background: url(../images/bg-palestrantes.png) no-repeat top left;
    background-size: 68% 100%;
    height: 470px;
    width: 100%;
    position: absolute;
    z-index: 2;
  }
  .bg2 {
    background: url(../images/bgSection8.jpg) bottom no-repeat;
    height: 900px;
    min-height: 570px;
    width: 100%;
    top: 235px;
    position: absolute;
    z-index: 1;
  }

  #carosel1 {
    position: relative;
    z-index: 10;

    

    .carousel-control.left, .carousel-control.right {
      background-image:none !important;
      filter:none !important;
   }

    .carosel-body {
      margin-top: 230px;
    }

    .carousel-control-next,.carousel-control-prev {
      position: absolute;
      z-index: 100000000;
      display: initial;
      width: auto;
      opacity: 1;
      text-align: left;
      top: 349px;
    }
    .name {
      width: 170px;
      bottom: 50px;
      left: 50px;
      font-size: $fonte-media;
      color: $branco;
      line-height: 50px;
    }

    .carousel-control-prev{
      right: 60px;
      left: auto;
      height:0;
    }
    .carousel-control-next{
      right: -80px;
      left: auto;
      height:0;
    }

    .carousel-indicators {
      justify-content: start;
      margin-right: 0;
      margin-left: 0;
      bottom: 80px;

      li {
        border-radius: 30px;
        width: 9px;
        height: 9px;
        border: none;
        margin-right: 20px;
      }

      .active {
        background-color: black;
      }
    }
  }

  .carosel-body {
    p {
      padding-top: 350px;
      margin-bottom: 93px;
    }

    h1 {
      display: inline;
      color: black;
      line-height: initial;
      padding: 0.2em 0em;
      span {
        background-color: rgba($branco, 0.5);
        box-shadow: 0.5em 0 0 rgba($branco, 0.5), -0.2em 0 0 rgba($branco, 0.5);
        box-decoration-break: clone;
      }
    }
  }
}

//fim section8

#section9 {
  background-color: $preto;
  padding-top: 140px;
  padding-bottom: 100px;

  #timer {
    color: #fff;
    font-size: $fonte-media;
    margin-top: 100px;
  }

  .dois {
    color: $roxoEscuro;
  }

  .countdown-aux {
    span {
      &:first-child {
        margin-right: 65px;
      }
      &:nth-child(2) {
        margin-right: 30px;
      }
      &:nth-child(3) {
        margin-right: 25px;
      }
    }
  }

  .single-ticket {
    border-radius: 8px;
    padding-bottom: 45px;
    border: 2px solid #7300c7;
    box-shadow: 0px 10px 60px rgba(115, 0, 199, 0.5);

    header {
      height: 131px;
      img {
        height: 40px;
      }
    }

    article {
      h2 {
        color: $branco;
        font-size: $fonte-media;
        margin-bottom: 35px;
        font-weight: bold;
      }

      .price {
        font-size: 28px;
        font-weight: bold;
        background: linear-gradient(90deg, #6300d6 0%,#6300d6 50%,#a900d1 60%,#a900d1   100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        color: $branco;
        font-size: 20px;
        span {
          color: #6f6f6f;
        }

        &:last-child {
          font-size: 20px;
        }
      }

      .btn {
        margin-top: 30px;
        width: 80%;
      }
    }
  }
}
//fim section9

#section10 {
  margin-top: -4px;
  padding-bottom: 150px;
  background: linear-gradient(#000 20%, rgba(0, 0, 0, 0) 20%),
    linear-gradient(white 80%, white 80%);

  h2 {
    background: $gradiente;
    background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-size: $fonte-pequena;
    line-height: 36px;
  }

  .col-10 {
    padding-left: 90px;
  }

  .carousel-item {
    border-radius: 8px;
    height: 100%;
    min-height: 528px;
    background: no-repeat center center scroll;
    background-size: cover;
  }

  .carousel-control-next,
  .carousel-control-prev {
    position: relative;
    display: initial;
    width: auto;
    opacity: 1;
    text-align: left;
  }

  .carousel-control-prev {
    margin-left: -100px;
    top: -110px;
  }
  .carousel-control-next {
    top: -120px;
    margin-left: 110px;
  }
}
//fim section10

#section11 {
  padding-top: 140px;
  padding-bottom: 140px;

  p {
    color: #c1c1c1;
    font-size: $fonte-pequena;
    line-height: 36px;
  }
  .txt1 {
    margin-top: 55px;
  }

  .btn {
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 60px;
    width: 80%;
  }
}
//section11

#section12 {
  background-color: white;
  padding-bottom: 110px;

  .container {
    position: relative;
    padding-top: 140px;
    &::after {
      background: $gradiente;
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      position: absolute;
      top: 0;
    }
  }

  h1 {
    background: $gradiente;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .partners {
    margin-top: 70px;

    .row {
      margin-bottom: 30px;
    }

    figure {
      position: relative;
      background-color: white;
      z-index: 1;
      filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));

      &::before {
        background: $gradiente;
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
      }
    }
  }
}

//fim section12

.modal{

  .form-check-label {
    font-weight: 100;
  }

  h1 {
    font-size: 28px;
    color: black;
  }
  .modal-body {
    padding: 6rem 5rem;

    header {
      margin-bottom: 55px;
    }
  }

  .modal-footer {
    border:none;
    footer {
      width: 100%;
    }
  }
}

